.container {
    width: 100%;
    display: grid;
    gap: 8px;
}

.label {
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--gray-200);
    border-radius: 56px;
    color: var(--gray-950);
    font-weight: 500;
    transition: border-color 0.2s;
}

.input:hover {
    border-color: var(--gray-400);
}

.input:focus {
    outline: none;
    border-color: var(--success-800);
}

.input.medium {
    padding: 14px 12px;
    border-radius: 10px;
    background-color: var(--gray-100);
}
