.faq {
    padding: 32px;
    cursor: pointer;
}

.faq_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.faq_header svg {
    stroke: var(--black);
    transition: transform 0.3s;
    flex-shrink: 0;
}

.faq_header.open svg {
    transform: rotate(45deg);
}

.faq_question {
    font-weight: 500;
}

.faq_body {
    margin-top: 16px;
}

.faq_answer {
    color: var(--gray-950);
    max-width: 800px;
}
