.container {
    width: 100%;
    display: grid;
    gap: 8px;
}

.label {
    font-weight: 500;
}

.select {
    width: 100%;
    padding: 14px 12px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    border-radius: 10px;
    color: var(--gray-950);
    transition: border-color 0.2s;
    appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

.select:hover {
    border-color: var(--gray-400);
}

.select:focus {
    outline: none;
    border-color: var(--success-800);
}

.option {
    font-weight: 500;
}

.select_error {
    border-color: var(--danger-500) !important;
    background-color: var(--red-50) !important;
}

.error_message {
    font-size: 11px;
    color: var(--danger-600);
    margin-top: -4px;
}
